<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" type='text/css' href="{% static 'css/stylesheet.css' %}">
</head>

<body>
  <main>
    <nav id="main_nav_id">
      <ul>
        {% if user.is_authenticated %}
          <li>
            <p>Hi {{ user.username }}!</p>
          </li>
          <li>
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Log Out</button>
            </form>
          </li>
        {% else %}
          <li>
            <p>Hello, Guest!</p>
          </li>
          <li>
            <a href="{% url 'login' %}">Log In</a>
          </li>
        {% endif %}
      </ul>
    </nav>
      {% block content %}
      {% endblock %}
  </main>
</body>

</html>